@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

/* header */

.header {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.logoImagem {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50px;
    margin-right: 50px;
}

.containerLogo {
    display: flex;
    align-items: center;
}

.logoTitulo {
    margin-left: 60px;
    color: #ffff00;
    padding: 10px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;
}

.logoTitulo:hover {
    background-color: #f00;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.fotoHeader {
    width: 100%;
    margin-top: 30%;
}

/* main */

.container {
    width: 98%;
    margin: 50px auto;
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

}

.card {
    width: 28%;
    background-color: #fff;
    border: 1px solid #ffff00;
    margin-bottom: 50px;
    transition: 0.3s;
}

.cardHeader {
    text-align: center;
    padding: 50px 10px;
    color: #fff;
    background-image: url("../imagens/fundoVisao2.jpg");
    background-size: cover;
}

.cardHeader2 {
    text-align: center;
    padding: 50px 10px;
    color: #fff;
    background-image: url("../imagens/fundoEstranho2.jpg");
    background-size: cover;
}

.cardHeader3 {
    text-align: center;
    padding: 50px 10px;
    color: #000;
    background-image: url("../imagens/imagemPrincipalThor.jpg");
    background-size: cover;
}

.cardBody {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    display: block;
    color: #fff;
    border-top: 1px solid #ffff00;
    background-image: url("../imagens/imagemVisaoPrincipal.jpg");
    background-size: cover;
}

.cardBody .btn {
    display: block;
    color: #d10909;
    text-align: center;
    margin-top: 30px;
    padding: 10px 5px;
    border: #ddd double 5px;
}

.cardBody2 {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    display: block;
    color: #fff;
    text-align: center;
    border-top: 1px solid #ffff00;
    background-image: url("../imagens/fundoEstranho.jpg");
    background-size: cover;
}

.cardBody2 .btn {
    display: block;
    color: #ffd700;
    text-align: center;
    margin-top: 30px;
    padding: 10px 5px;
    border: #e9c244 double 5px;
}

.cardBody3 {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    display: block;
    color: #fff;
    text-align: center;
    border-top: 1px solid #ffff00;
    background-image: url("../imagens/fundoNovoThor.jpg");
    background-size: cover;
}

.cardBody3 .btn {
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    padding: 10px 5px;
    border: #2f75f7 double 5px;
}

.card:Hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}



/* footer */

footer {
    background-color: #000;
    padding-top: 3em;
    padding-bottom: 40px;
    border-top: 5px solid #ffff00;
}

footer h2,
footer p,
footer a,
footer span {
    color: #fff;
}

footer h2 {
    font-weight: 400;
}

footer a {
    text-decoration: none;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footerBox {
    width: 31%;
    padding: 1%;
    float: left;
}

footer .wrapper:after {
    clear: both;
    content: "";
    display: block;
}

.companyFooter {
    width: 80%;
}

.companyFooter h2 {
    margin-top: 20px;
}

.companyFooter img {
    width: 200px;
}

.companyFooter h2,
.companyFooter p {
    margin-bottom: 20px;
}

.footerList li {
    margin-bottom: 15px;
}

.footerList a {
    transition: 0.5s;
}

.footerList a:hover {
    color: #ffff00;
}

.footerList li:after {
    clear: both;
    content: "";
    display: block;
}

.articleFooter {
    width: 80%;
}

.footerList.articleFooterList span {
    display: block;
    float: none;
}

.fab {
    font-size: 30px;
    margin-right: 10px;
    float: left;
}

.footerList li span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.footerBottom {
    border-top: 1px solid #f1de32;
}

.footerBottom p {
    font-weight: 600;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
}

/* responsive */

@media screen and (max-width: 1000px) {
    .card {
        width: 40%;
    }

}


@media screen and (max-width: 750px) {
    .header {
        width: 100%;
    }

    .logoImagem {
        background: none;
        image-rendering: auto;
    }

    .logoTitulo {
        width: 100%;
    }
    
    .container {
        width: 100%;
    }

    .heading {
        padding: 20px;
        font-size: 20px;
    }

    .card {
        width: 80%;
    }

    .footerBox {
        width: 100%;
    }

}